<!DOCTYPE html>
<html lang="en">
    <head>
        <title>QKD Error Correction</title>
    </head>
    <body>
        <h1>Quantum Key Distrobuition Cascade Error Correction</h1>
        <p>Enter Alice and Bob's keys to return a corrected key, the number of parity bits, the number of errors, the Shannon limit and the number of itterations used.</p>
        <form method="POST">
            <label for="alice_string">Alice's Key</label>
            <input name="alice_string">
            <br>
            <label for="bob_string">Bob's Key</label>
            <input name="bob_string">
            <br>
            <input type="submit">
        </form>
    </body>
</html>